altgraph==0.10.2
argparse==1.4.0
astroid==1.6.6
backports.functools-lru-cache==1.6.1
bdist-mpkg==0.5.0
certifi==2020.6.20
chardet==3.0.4
configparser==4.0.2
docopt==0.6.2
enum34==1.1.10
idna==2.10
isort==4.3.21
lazy-object-proxy==1.4.3
macholib==1.5.1
mccabe==0.6.1
modulegraph==0.10.4
Pillow>=7.1.0
pipreqs==0.4.10
py2app==0.7.3
pylint==2.6.0
pyparsing==2.0.1
python-dateutil==1.5
pytz==2013.7
requests==2.24.0
singledispatch==3.4.0.3
six==1.4.1
urllib3==1.25.10
wrapt==1.12.1
yarg==0.1.9
zope.interface==4.1.1
